body {
  background-color: rgb(73, 72, 68);
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#title {
  color: rgb(251, 248, 240);
  padding: 15px;
}

#menu {
  color:rgb(159, 210, 227);
  padding: 15px;
}

h5 {
  color: #d5d5d5;
}

#pricing {
  background-color: rgb(66, 60, 53);
  color: antiquewhite;
  width: 60%;
  height: auto;
  margin: auto;
  border: 0 0 0 2px solid;
  padding: 15px;
}

#form {
  background-color: rgb(66, 60, 53);
  color: antiquewhite;
  width: 60%;
  height: auto;
  margin: auto;
  border: 0 0 0 2px solid;
  padding: 15px;
}

select {
  background-color: rgb(240, 238, 228);
  color:rgb(74, 74, 74);
  border-radius: 5px;
}

input[type="checkbox"] {
  background-color: #d5d5d5;
  color: rgb(245, 231, 213);
  border-radius: 5px;
  cursor: pointer;
  align-items: center;
}

#button {
  border-radius: 5px;
  background-color: rgb(240, 238, 228)
}

#order-details {
  color: antiquewhite;
  width: 60%;
  height: auto;
  margin: auto;
  border: 0 0 0 2px solid;
  padding: 15px;
}
